.contentRight {
	background-color: #f90;
	color: rgb(60, 70, 140);

	/*border: solid gray 2px;*/
	width: 57vw;

	display: flex;
	flex-direction: column;
}

.contentRight img {
	height: 20vh;
	width: 57vw;
}