body {
	background-color: #003;
	/*background-color: rgb(60, 70, 140);*/
}

.app-wrapper {
	margin: auto;
	width: 70vw;
	height: 100vh;
	/*color: orange;*/
}

main {
	margin: 2vh auto;
	display: flex;
	height: 85vh;
	justify-content: space-between;
}

.app-wrapper-content {
	width: 57vw;
	border: solid gray 2px;
}
